/* Navbar.css */

/* Remove any outer margin so the navbar sits on the image */
.navbar {
  background: #181818;
  border-radius: 40px;
  box-shadow: 0 8px 32px 0 rgba(0,0,0,0.15);
  padding: 0.3rem 1.5rem;
  width: fit-content;
  position: absolute  ;    
  top: 20px;             
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.navbar-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* .navbar-logo {
  background: #fff;
  border-radius: 50%;
  width: 42px;          
  height: 42px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 1.2rem;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.10);
  overflow: hidden;
} */
/* 
.navbar-logo a {
  color: #181818;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  white-space: pre-line;   
  text-align: center;
} */

.navbar-links {
  display: flex;
  gap: 1.5rem;
}

.navbar-links a {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.2s;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
}

.navbar-links a:hover {
  background: #222;
  color: #f4d35e;
}

.navbar-links button {
  background: none;
  border: none;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  padding: 0.2rem 0.5rem;
  border-radius: 20px;
  transition: background 0.2s, color 0.2s;
}

.navbar-links button:hover {
  background: #222;
  color: #f4d35e;
}

